# project
node_modules
.gitignore
rollup.config.js
rollup.config.cjs
tsconfig.json
tsconfig.lib.json

# test
.env
tsconfig.spec.json
spec
jest.config.js
jest.setup.js
coverage

# dev
.gitpod.yml

# eslint
.eslintignore
.eslintrc.js